* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer {
    background-color: lightgrey;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.gridRow {
    width: 100%;
    flex: 1;
    display: flex;
}

.gridColumn {
    flex: 1;
    background-color: cornflowerblue;
    border: 1px solid rgb(69, 134, 255);
}

/*.gridColumn:hover {
    background-color: coral;
}*/